# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
1. List of popular language for Data Science.
2. List of commonly used libraries in data science.
3. List of Data Science open source development tools.
4. Sample Mathematical Operation in Jupyter

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Seaborn

|Data Science Tools|
|------------------|
|Rstudio|
|Apache Spark|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
min=200
hr=min/60
hr
#This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Auther:
Ravi kanu baniya